{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set activediff = page.header.archivesched|defined('-90days') %}
{% set archivediff = page.parent.header.archivesched|defined('-90days') %}
{% set activecoll = collection|filter(child => date(child.header.eventdate) >= date(activediff)) %}
{% set archivecoll = collection|filter(child => date(child.header.eventdate) < date(archivediff)) %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(false)  %}

{% block stylesheets %}
	{% do assets.addCss('theme://css/bricklayer.css') %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% do assets.add('theme://js/bricklayer.min.js') %}
	{% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}


{% block hero %}
	{% include 'partials/hero.html.twig' with {id: 'blog-hero', content: page.content, hero_image: blog_image} %}
{% endblock %}

{% block body %}

	<section id="body-wrapper" class="section blog-listing">
		<section class="container {{ grid_size }}">

			{% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

			{% embed 'partials/layout.html.twig' with {blog: page} %}
				{% block item %}

					<div class="bricklayer">
						{% if page.header.archivetype == 'news' %}

							{% for child in activecoll %}
								{% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
							{% endfor %}
							{% for child in collection|filter(child => child.header.archivetype == 'archive') %}
								{% set archivepage = child %}
								{% include 'partials/blog-list-item.html.twig' with {blog: page, page: archivepage} %}
							{% endfor %}
						{% elseif  page.header.archivetype == 'archive' %}
							{% for child in archivecoll %}
								{% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
							{% endfor %}
						{% else %}
							{% for child in collection %}
								{% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
							{% endfor %}

						{% endif %}
					</div>


				{% endblock %}

				{% block sidebar %}
					{% include 'partials/sidebar.html.twig' %}
				{% endblock %}
			{% endembed %}
		</section>
	</section>
	<script>
		// Bricklayer
var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
	</script>
{% endblock %}
