{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content|raw }}


<b>Page views ordered by count:</b>
<br/><br/>

<table>
	<tr>
		<th>Views</th>
		<th>Route</th>
	</tr>
	{% for route,views in viewcounts|sort|reverse %}
		{% if route != page.route %}
		</tr>
		<td>{{ views }}</td>
		<td>{{ route }}</td>
	{% endif %}
</tr>{% endfor %}</table>{% endblock %}
